
  *{
      padding: 0;
      margin: 0;
      user-select: none;
      box-sizing: border-box;
  }


  body{
    font-family: 'Titillium Web', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      color: white;
      background-color:rgba(0, 0, 0, 1) ;
  }
  header h1{
      font-size: 80px;
  }
  .container .inputdiv input{
      width: 500px;
      height: 40px;
      border: none;
      border-radius: 20px;
      margin: 20px 0px;
      font-weight: bold; 
      font-size: 20px;
      padding-left: 10px;
  }
  form .container .buttonanddiscription button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0px 50px 0px 0px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  form .container .buttonanddiscription button:hover{
    background-color:rgb(204, 0, 255);
    color: rgb(255, 255, 255);
    transition-property: background-color , color;
    transition-duration: 300ms;
  }
  form .container .buttonanddiscription span{
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 3px;
    color: rgb(204, 0, 255);
  }
  form .api .city{
      width: 1200px;
      height: 400px;
      margin: 30px 0px;
      background-color: rgba(18, 0, 68, 0.404);
      border: 3px solid rgb(255, 255, 255);
      border-radius: 40px;
      display: none;
  }